body, html {
    margin: 0;
    padding: 0;
    background-color: #000; /* 全黑背景 */
}

body {
    padding-bottom: 60px;
    position: relative;
    margin: 0;
    padding: 0;
    background: none; /* 移除原有背景圖 */
}

body::before {
    content: "";
    position: fixed; /* 或 'absolute' */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bbg.png');
    background-position: center center;
    background-size: 600px;
    opacity: 0.2; /* 設置透明度 */
    z-index: -1; /* 確保背景在內容之下 */
}

header, .content-section, footer {
    text-align: center;
    color: white;
    flex-flow: column;
}

header {
    height: 120px;
    padding-right: 40px;
    position: fixed;
    width: 100%; /* header 寬度為 100% */
    z-index: 1000; /* 確保 header 在最上層 */
    background-color: rgb(0, 0, 0,0.9);
}

.header-image {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section1 {
    height: 400px;
    font-size: 18px;
    color:  rgb(255, 255, 255) ;
    text-shadow: 0 0 10px #7f0000;
    padding-top: 150px;
    background-repeat: no-repeat;
    background-image: url('../images/1.jpg');
    background-size: cover;
    background-position: center;
}

/* 2 */

#section2 {
    height: 250px;
    background-image: url('../images/2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-out; /* 平滑轉換效果 */
    transform-origin: center center;
}

body #section2 h2 {
    width: 200px;
    height: 50px;
    background-color: #ccc;
    border-radius: 5px;
    margin-top: 10px;
}


/* 3 */
.s3-top {
    width: 110px;
}

.section-top {
    padding-top: 30px;
    font-size: 20px;
    padding-bottom: 30px;
}

.sub-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.s3-text {
    padding-left: 20px;
    text-align:left;
}

.s3-text h3, .s3-4-text h3 {
    color: #ff9b28;
    text-align: center;
}

/* 3-1 */
.img3-1 {
    width: 240px;
    border-radius: 10%;
}

/* 3-2 */
.img3-2 {
    width: 270px;
    height: 210px;
    border-radius: 10%;
}

/* 3-3 */
.img3-3 {
    width: 240px;
    border-radius: 10%;
}

/* 3-4 */
#s3-4 {
    height: 290px;
    background-image: url('../images/3-4.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.s3-4-text {
    flex: 1;
}

.s3-4-text h3 {
    margin-bottom: 150px;
  }

/* 3-5 */
.img3-5 {
    width: 200px;
    border-radius: 10%;
    padding-left: 20px;
    padding-bottom: 30px;
}

/* 4 */
#section4 {
    height: 300px;
    background-size: 600px;
    background-image: url('../images/4.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y:top ;
    padding-bottom: 200px;
}

#section4 h2 {
    font-size: 20px;
    color: #ff9b28;
    margin-top: 200px;
    margin-bottom: 180px;
}

#section4 p {
    font-size: 16px;
    text-align: left;
    padding: 30px;
}

#section5 {
    height: 300px;
    background-size: cover;
    background-image: url('../images/5.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y:top ;
}

.img5-1 {
    width: 220px;
    margin-left: 250px;
}


#section6 {
    height: 350px;
    background-size: cover;
    background-image: url('../images/6.jpeg');
    background-position: center;
    background-repeat: no-repeat;
}

.img6-1 {
    width: 440px;
    margin-top:  220px;
}

#section7 {
    height: 300px;
    background-size: cover;
    background-image: url('../images/7.jpg');
    background-position: center;
    background-position-y: bottom;
    padding-bottom: 200px;
}

.go {
    width: 190px;
    margin-left: 200px;
    margin-top: 380px;
}


footer {
    background-image: url(../images/footer.png);
    background-size: 400px;
    background-position: center;
    background-color: #000;
    opacity: 90%;
    height: 110px;
    position: fixed; /* 固定位置 */
    bottom: 0; /* 距離頁面底部 0px */
    left: 0; /* 距離頁面左側 0px */
    width: 100%; /* footer 寬度為 100% */
    z-index: 1000; /* 確保 footer 在最上層 */
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


@media screen and (max-width: 768px) {

/* 3 */
.s3-top {
    width: 110px;
}

.section-top {
    padding-top: 30px;
    font-size: 18px;
    padding-bottom: 10px;
}

.sub-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.s3-text {
    padding-left: 10px;
    text-align:left;
    font-size: 14px;
}

.s3-text h3, .s3-4-text h3 {
    color: #ff9b28;
    text-align: center;
    font-size: 16px;
}

/* 3-1 */
.img3-1 {
    width: 120px;
    border-radius: 10%;
}

/* 3-2 */
.img3-2 {
    width: 160px;
    height: 150px;
    border-radius: 10%;
}

/* 3-3 */
.img3-3 {
    width: 120px;
    border-radius: 10%;
}

/* 3-4 */
#s3-4 {
    height: 200px;
    background-image: url('../images/3-4.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.s3-4-text {
    flex: 1;
}

.s3-4-text h3 {
    margin-bottom: 100px;
  }

/* 3-5 */
.img3-5 {
    width: 140px;
    border-radius: 10%;
    padding-left: 10px;
    padding-bottom: 20px;
}

#section4 h2 {
    font-size: 20px;
    color: #ff9b28;
    margin-top: 200px;
    margin-bottom: 180px;
}

#section4 p {
    font-size: 14px;
    text-align: left;
    padding: 30px;
}

#section5 {
    height: 300px;
    background-size: cover;
    background-image: url('../images/5.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y:top ;
}

.img5-1 {
    width: 180px;
    margin-left: 150px;
}


#section6 {
    height: 350px;
    background-size: cover;
    background-image: url('../images/6.jpeg');
    background-position: center;
    background-repeat: no-repeat;
}

.img6-1 {
    width: 350px;
    margin-top:  220px;
}

#section7 {
    height: 150px;
    background-size: 400px;
    background-image: url('../images/7.jpg');
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

.go {
    width: 100px;
    margin-left: 100px;
    margin-top: 260px;
}

}